<!doctype html>
<html>
<head>
    <title>The Karen Quiz</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1>Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

        <form action="/messages" method="post">
          <h1>The Karen Quiz</h1>
          <h2>Take the quiz to earn your entitled oppressor name!</h2>
          <section>
            <p>1. What's your favorite piece of tech?</p>
            <div>
              <input type="radio" name="tech" value="1" class="tech">
              <label>The Grill</label>
            </div>
            <div>
              <input type="radio" name="tech" value="2" class="tech">
              <label>Apartment Callbox</label>
            </div>
            <div>
              <input type="radio" name="tech" value="1" class="tech">
              <label>Surveillance Cameras</label>
            </div>
            <div>
              <input type="radio" name="tech" value="1" class="tech">
              <label>Conveyor Belts</label>
            </div>
            <div>
              <input type="radio" name="tech" value="1" class="tech">
              <label>An Apple MacBook</label>
            </div>
          </section>
          <section>
            <p>2. Where would you rather hang?</p>
            <div>
              <input type="radio" name="place" value="1" class="place">
              <label>A Park</label>
            </div>
            <div>
              <input type="radio" name="place" value="2" class="place">
              <label>At Home</label>
            </div>
            <div>
              <input type="radio" name="place" value="1" class="place">
              <label>The Block</label>
            </div>
            <div>
              <input type="radio" name="place" value="1" class="place">
              <label>The Airport</label>
            </div>
            <div>
              <input type="radio" name="place" value="1" class="place">
              <label>The Apple Store</label>
            </div>
          </section>
          <section>
            <p>3. What would you rather do right now?</p>
            <div>
              <input type="radio" name="call" value="1" class="call">
              <label>Call the cops</label>
            </div>
            <div>
              <input type="radio" name="call" value="2" class="call">
              <label>Call the cops</label>
            </div>
            <div>
              <input type="radio" name="call" value="1" class="call">
              <label>Call the cops</label>
            </div>
            <div>
              <input type="radio" name="call" value="1" class="call">
              <label>Call the cops</label>
            </div>
            <div>
              <input type="radio" name="call" value="1" class="call">
              <label>Have a public meltdown</label>
            </div>
          </section>
          <section>
            <p>4. What's your outfit of choice?</p>
            <div>
              <input type="radio" name="outfit" value="1" class="outfit">
              <label>Dark purple hoodie</label>
            </div>
            <div>
              <input type="radio" name="outfit" value="2" class="outfit">
              <label>Black Patagonia</label>
            </div>
            <div>
              <input type="radio" name="outfit" value="1" class="outfit">
              <label>Black tee & aviators</label>
            </div>
            <div>
              <input type="radio" name="outfit" value="2" class="outfit">
              <label>Airline uniform</label>
            </div>
            <div>
              <input type="radio" name="outfit" value="2" class="outfit">
              <label>Funky print dress</label>
            </div>
          </section>
          <section>
            <p>5. Where would you rather live?</p>
            <div>
              <input type="radio" name="city" value="1" class="city">
              <label>Oakland</label>
            </div>
            <div>
              <input type="radio" name="city" value="2" class="city">
              <label>San Francisco</label>
            </div>
                    <div>
              <input type="radio" name="city" value="1" class="city">
              <label>New York City</label>
            </div>
            <div>
              <input type="radio" name="city" value="2" class="city">
              <label>Boston</label>
            </div>
            <div>
              <input type="radio" name="city" value="2" class="city">
              <label>Los Angeles</label>
            </div>
          </section>
          <button type="submit">Submit Answers</button>
        </form>

          <h2>Results:   <span></span></h2>

<script src="main.js"></script>

</body>
</html>
